{% set current_page = "home" %}
{% extends "layouts/app.html" %}
{% block content %}
<!-- Hero Section -->
<div class="container my-5">
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <img src="https://tse2-mm.cn.bing.net/th/id/OIP-C.bDwWqKEMcUMHOzebwsE_SwHaHa?w=202&h=201&c=7&r=0&o=5&dpr=2&pid=1.7Ou" alt="Our Logo">
          <h1 class="text-body-emphasis my-3">The Great SMIC Tutor System</h1>
          <p class="col-lg-8 mx-auto fs-5 text-muted">
            This is a tutoring system. Get help from others or help others today!
          </p>
          <div class="d-inline-flex gap-2 mb-4">
            <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button" 
            href="/subjects">
              Let Me Help!
          </a>
            <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button" href ="/tutor/add">
              I Need Help!
            </a>
          </div>
          <div class="text-center mb-1 link-primary">
            <a href="/tutor/name"> Change My Appointment -> </a>
          </div>
        </div>
      </div>
</div>





{% endblock %}