{% set current_page = "update" %}
{% extends "layouts/app.html" %}
{% block title %}Updating Registration{% endblock %}
{% block content %}
<div class="container my-5">
  <h1 class="text-center mb-3r">Update Registration</h1>
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      {% if msg == "Success" %}
      <div class="alert alert-success" role="alert">
        {{ msg }}    (
        <a href="/"><- Home</a>)
      </div>
      {% endif %}
      {% if msg == "Error"%}
      <div class="alert alert-danger" role="alert">
        {{ msg }}
      </div>
      {% endif %}
      <form action="/tutor/name/update/{{ tutor.id }}" method="post">
        <div class="row">

            <div class="col-sm-12 col-md-6 mb-3">
              <label for="name" class="form-label">
                Full Name
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-control" id="name" name="name" value="{{tutor.name}}" required>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
  
              <label for="gpa" class="form-label">
                GPA
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-control" id="gpa" name="gpa" value="{{tutor.gpa}}" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="subject" class="form-label">
              Subject
              <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" id="subject" name="subject" value="{{tutor.subject}}" required>
          </div>
  
          <div class="mb-3">
              <label for="grade" class="form-label">
                Grade Level
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-control" id="grade" name="grade" value="{{tutor.grade}}" required>
            </div>
  
          
          <div class="row">
  
            <div class="col-sm-12 col-md-6 mb-3">
              <p class="form-label">
                Gender
                <span class="text-danger">*</span>
            </p>
  
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender1" value="True" 
                {% if tutor.gender == True %} checked {% endif %}>
                <label class="form-check-label" for="gender1">
                    Male
                </label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" value="False" id="gender2"
                {% if tutor.gender == False %} checked {% endif %}>
                <label class="form-check-label" for="gender2" >
                    Female
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="date">Prefered Date
                <span class="text-danger">*</span>
              </label>
              <p><input type="date" id="date" name="date" required></p>
          </div>


          <div class="col-sm-12 col-md-6 mb-3">

            <label for="email" class="form-label">
              Contact Email
              <span class="text-danger">*</span>
            </label>
            <input type="email" class="form-control" id="email" name="email" value="{{tutor.email}}" required>
          </div>
        </div>

        <div class="text-end mt-5">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}